* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    color: #5a8699;
    text-overflow: ellipsis;
}
small {
    color: #5a8699;
    width: 180px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fas, .far {color:#c4c4c4;} 
/* outer background */
.background_color {
    width: 100%;
    height: 100vh;
    background-color: #d9dbd6;
    position: relative;
    padding-top: 5vh;
}
.green_bar {
    width: 100%;
    height: 15%;
    background-color: #009687;
    position: absolute;
    top: 0;  
    z-index: 1;
}

/* display app */

.container_message {
    width: 1200px;
    height: 90vh;
    margin: auto;
    position: relative;
    z-index: 2;
    display: flex;
}
/* display app left side */
.left_container_message{
    width: 400px;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #eaeaea;
}

.left_user {
    flex-shrink: 0;
    display: flex;
    height: 80px;
}
.left_user div {
    height: 100%;

}
.left_user_img{
    width: 20%;
    padding: 5px;
}
.left_user_img img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.left_user_name{
    width: 40%;
    display: flex;
    align-items: center;
}
.left_user_icons{
    width: 40%;
    display: flex;

}
.left_user_icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    font-size: 20px;
}
.left_user_icons div i {
    cursor: pointer;
}


.left_notifications {
    flex-shrink: 0;
    display: flex;
    background-color: #8edafc;
    height: 80px;
}
.left_notifications div {
    height: 100%;

}
.left_notifications_img{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    padding: ; 
}
.left_notifications_img i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: #8edafc;

}

.left_notifications_text{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left_notifications_text a {
    color: #5a8699;
}
.left_search {
    flex-shrink: 0;
    display: flex;
    padding: 5px 10px 5px 5px;
    height: 50px;
}
.left_search div {
    height: 100%;
}
.left_search_img{
    width: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_search_input{
    width: 80%;
}
.left_search_input input {
    width: 100%;
    height: 100%;
    border: none;
}
.left_all_chats {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 10px;

}
.left_all_chats_2 {
    padding-right: 10px;
    background-color: white;
    height: 100%;
   
}

.left_all_chat{
    width: 100%;
    display: flex;
    height: 80px;
    cursor: pointer;
}
.left_all_chat_img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}
.left_all_chat_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.left_all_chat_text{
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 5px;
}

.left_all_chat_text_date{
    position: absolute;
    top: 5px;
    right: 5px;
}

/* display app right side */
.right_container_message{
    width: calc(1200px - 400px);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;


}
.right_container_message div {
    display: flex;
}

.right_user{
   height: 80px;
   flex-shrink: 0;
}

.right_user_img{
    width: 80px;
    padding: 5px;
}
.right_user_img img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
} 
.right_user_name{
    width: calc(100% - 20% - 80px);
    justify-content: center;
    flex-direction: column;
}
.right_user_icons{
    width: 20%;

}
.right_user_icons div {
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    font-size: 20px;
}
.right_user_icons div i {
    cursor: pointer;
}

.right_chat_display{
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url(../img/mine.jpg);
    flex-direction: column;
    padding: 30px;
}
.right_chat_display_sent, .right_chat_display_recived {
   
    height: 60px;
    margin-bottom: 10px;
}
.right_chat_display_sent{
    justify-content: flex-end;
}
.right_chat_display_sent .sent_sms {
    
    width: 40%;
    justify-content: end;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #d4f9ba;
    border-radius: 15px;

}
.right_chat_display_recived .recived_sms {
  
    width: 40%;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: white;
    border-radius: 15px;
}

.sms_date {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 10px;
}
.right_chat_input{
    flex-shrink: 0;
    height: 60px;
    padding: 10px;
}

.right_chat_input_text{
    width: calc(100% - 120px);
}
.right_chat_input_text input {
    width: 100%;
    border: none   ;
}

.right_chat_input_smile, .right_chat_input_microphone{
    width: 60px;
    justify-content: center;
    align-items: center;
    
    
}

.right_chat_input_smile i, .right_chat_input_microphone i {
    color: #6c7375;
    font-size: 20px;
}
