* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 80px;
}
.main_background {
    width: 100%;
    height: 100vh;
    background-color: rgb(201, 201, 201);
    position: absolute;
    z-index: -1;
    top: 0;
}
.green_sec {
    background-color: #0B9588;
    width: 100%;
    height: 15%;
}
.app_container {
    width: 1200px;
    height: 90vh;
    background-color: rgba(255, 0, 0, 0.3);
    margin: calc(10vh / 2) auto;
    display: flex;
}



/* sezione sinistra */



.section_left {
    width: 400px;
    height: 100%;
    background-color: #fafafa;
}
.section_right {
    width: calc(100% - 400px);
    height: 100%;
    background-image: url(../img/mine.jpg);
}
.left_header, .right_header, .sent_sms, .notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 10px;
}
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}
.avatar img {
    width: 50px;
    border-radius: 50%;
}
.avatar_info {
    width: calc(100% - 70px - 100px);
}
.grey {
    color: rgb(125, 125, 125);
}
.icons {
    font-size: 23px;
    color: gray;
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.notification {
    background-color: white;
    justify-content: flex-start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 70px;
}
.active {
    background-color: #e9ebeb;
}
.notification_color {
    background-color: lightskyblue;
}
.bell {
    border-radius: 50%;
    background-color: white;
    padding: 15px;
}
.notification_color i {
    color: lightskyblue;
}
.avatar_info {
    font-size: 13px;
}
.notification_color .grey {
    text-decoration: underline;
}
.search {
    padding: 10px;
    line-height: 30px;
    height: 50px;
}
.search i {
    padding: 0 15px;
}
.search .info {
    font-size: 13px;
}
.chat  {
    font-size: 19px;
}
.chat .grey {
    font-size: 14px;
    margin-top: 3px;
    opacity: .7;
}
.chat .notification {
    position: relative;
}
.chat .grey:last-child {
    position: absolute;
    top: 5px;
    right: 7px;
}



/* sezione di destra */



.right_header .grey{
    margin-top: 4px;
}
.section_right {
    position: relative;
}
.sent_sms {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
}
.sent_sms i {
    font-size: 25px;
}
.input_sms {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 80%;
    font-size: 18px;
    border: none;
    height: 40px;
}
.display_messages {
    padding: 30px 80px;
}
.display_message {
    display: flex;
    background-color: transparent;
    margin-bottom: 10px;
}
.display_messages .message_sent {
    justify-content: flex-end;
}
.display_messages .message-received {
    justify-content: flex-start;
}
.sms {
    min-width: 20%;
    max-width: 40%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.sms span {
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: .5;
}
.sms_sent {
    text-align: right;
    background-color: #d6f9be;
}
.sms_received {
    background-color: white;
}