<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</head>
<body>
    <div id="app">
        <main>
            <div class="main_background">
                <div class="green_sec"></div>
            </div>
            <div class="app_container">
                <!-- sezione di sinistra -->
                <div class="section_left">
                    <header class="left_header">
                        <div class="avatar">
                            <img src="img/avatar_io.jpg" alt="avatar_user">
                        </div>
                        <div class="avatar_info">
                            <h2>Marika</h2>
                        </div>
                        <div class="icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <!-- notifiche -->
                    <div class="notification notification_color">
                        <div class="avatar">
                            <div class="bell">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                        </div>
                        <div class="avatar_info">
                            <h3>Ricevi notifiche di nuovi messagi</h3>
                            <div class="grey">Attiva notifiche desktop</div>
                        </div>
                    </div>

                    <!-- ricerca-->
                    <div class="notification search">
                        <i class="fas fa-search grey"></i>
                        <div class="avatar_info">
                            <input style="width: 300px;" type="text" class="grey" placeholder="Cerca o inizia una nuova chat"
                            v-model="searchedUser" @change="filterUsers">
                        </div>
                    </div>

                    <!-- archivio chat -->
                    <div class="chat">

                        <div class="notification" v-for="chat,i in filterUsers()" @click="setActiveChat(chat, i)"
                        :class="i === activeChat.index ? 'active' : ''">
                            <div class="avatar">
                                <img :src="createAvatarPath(chat.img)" alt="avatar_{{ i }}">
                            </div>
                            <div class="avatar_info">
                                <h3>{{ chat.name }}</h3>
                                <div class="grey">{{ getLastMessage(i) }}</div>
                                <div class="grey">{{ getLastMessageDate(i) }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- sezione destra -->
                <div class="section_right">
                    <header class="right_header">
                        <div class="avatar">
                            <img :src="createAvatarPath(this.activeChat.img)" alt="avatar_user">
                        </div>
                        <div class="avatar_info">
                            <h2>{{ activeChat.name }}</h2>
                            <div class="grey">Ultimo accesso il {{ getLastMessageDateActiveUser() }}</div>
                        </div>
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <!-- display della chat-->
                    <div class="display_messages">
                        <!-- mostro tutti i messaggi in activeChat con un v-for -->
                        <div class="display_message"
                        :class="message.status === 'sent' ? 'message_sent' : 'message_received'"
                        v-for="message in activeChat.messages">
                            <div class="sms"
                            :class="message.status === 'sent' ? 'sms_sent' : 'sms_received'">
                                {{ message.text }}
                                <span class="grey">{{ message.date.toLocaleString() }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- scrivi/invia sms -->
                    <div class="sent_sms">
                        <div class="avatar">
                            <i class="far fa-smile grey"></i>
                        </div>
                        <input type="text" class="input_sms grey" placeholder="Scrivi un messaggio"
                        v-model="newMessage"
                        @keyup.enter="sendMessage()">
                        <div class="avatar">
                            <i class="fas fa-microphone grey"></i>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>